.page {
  font-family: var(--font-sour-gummy);
  margin: 5rem 20rem;
}

.title {
  color: #935a1c;
  font-size: 3rem;
  text-align: center;
  line-height: 40px;
  margin: 5rem 0;
}

.greeting {
  background-color: #fccaa0;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  margin: 5px 0;
}

.greeting p {
  font-size: 23px;
}

.greetingCard {
  background-color: #fbc297;
  border-radius: 20px;
  padding: 10px;
}

.greetingCard h2 {
  text-align: center;
}

.question {
  font-size: 30px;
}

.containerButtons {
  display: flex;
  justify-content: space-evenly;
}

.button {
  background: linear-gradient(180deg,rgb(59, 175, 63) 0%, rgb(39, 188, 25) 50%);
  border-radius: 40px;
  padding: 10px 20px;
  margin: 10px 0;
}

.button  p{
  text-align: center;
  color: #FFE4BA;
  font-size: 20px;
}

.secondaryButton {
  background: linear-gradient(180deg,rgb(243, 150, 84) 0%, rgb(236, 80, 32) 50%);
  border-radius: 40px;
  padding: 10px 20px;
  margin: 10px 10px;
}

.secondaryButton  p{
  text-align: center;
  color: #FFE4BA;
  font-size: 20px;
}

@media (max-width: 600px) {
  .page {
    margin: 1rem 2rem;
  }

  .title {
    margin: 2rem 0;
  }

  .greeting {
    margin: 10px 0;
  }
}